# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Uploaded images
static/uploads/*
!static/uploads/.gitkeep

# Logs
*.log